<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="mozg_boxpacker" frontName="mozg_boxpacker">
            <module name="Mozg_BoxPacker" />
        </route>
    </router>
</config>
